body {
  font-family: Arial, sans-serif;
  background-color: #70a0af;
}

h1 {
  color: #2d848a;
  text-align: center;
  font-family: "Playwrite AU TAS", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

#contenitore {
  width: 60%;
  margin: auto;
  padding: 20px;
  border: 4px solid #2d848a;
  border-radius: 10px;
  background-color: #a0c1b9;
  font-size: 18px;
}

#paragrafo {
  text-align: center;
}

h2 {
  text-align: center;
}

.liste-hobby {
  display: flex;
  justify-content: center;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 3px;
}

#esperienze {
  text-align: center;
}

.blocchi-esperienze {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#formazione,
#lavoro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contatti-foto {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

img {
  border-radius: 10px;
  width: 130px;
}
